page-login {

    .login-background {
        background-image: url('../assets/images/login.jpg');
        background-size: cover;
        position: relative;
        background-position: center;
    }

    .div-login{
        //background-color: #ffffff;
        bottom: 0;
        left: 30px;
        right: 20px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        width: 65%; 
        height: 44%;
    }

    .button-enter{
        margin-top: 20px;
        height: 50px;
        border: 2px solid #263238;
        border-radius: 30px;
        background-color: #263238;
    }

    .temp-logo-container{
        margin-top: 50px;
    }

    .logo1{
       color : white;
       left: 0;
       right: 0;
       position: absolute;
       margin-left: auto;
       margin-right: auto;
       margin-top: 20px;
       font-size: 70px;
       text-align: center;
       text-shadow: 4px 3px #263238;
    }

    .logo2{
        color : white;
        left: 0;
        right: 0;
        position: absolute;
        margin-left: 0 auto;
        margin-right: 0 auto;
        margin-top: 60px;
        font-size: 30px;
        text-align: center;
        text-shadow: 2px 2px #263238;
     }

     .login-text{
        text-shadow: 2px 2px #C4BABA;
     }

     .grid-login{
        background-color: white;
        box-shadow: none;
        border: 2px solid #263238;
        border-radius: 30px;
     }

}    