page-home {

    .fixed-content{
        background-color: #3F3F57;
    }

    .logo{
       color : white;
       left: 0;
       right: 0;
       position: absolute;
       margin-left: auto;
       margin-right: auto;
       margin-top: 20px;
       text-align: center;
       font-size: 50px;
    }

    .div-logo{
        position: relative;
        margin-top: 20px;
    }

    .div-grid{
        margin-top: 10px;
        margin-bottom: 10px;
        
    }

    ion-grid {
        height: 100%;
    }

    ion-row {
        height: 20%;
        text-align: center;
    }

    ion-col {
        text-align: center;
    }

    .ion-icon-home {
        font-size: 100px; //Preferred size here
        color: "white";
    }

    .transparent-background-home{
        background-color: transparent;
        box-shadow: none;
    }
    
    ion-label{
        color: white;
        text-align: center;
        font-weight: bold;
    }

    .toolbar-background {
        background-color: transparent;
    }

    .icon-header-home{
        color: white;
        float: right;
        right: 0;
    }

    .logo{
        height: 13%;
    }


}
