page-home {

    .fixed-content{
        background-color: #253237;
    }

    /*.logo{
       color : white;
       left: 0;
       right: 0;
       position: absolute;
       margin-left: auto;
       margin-right: auto;
       margin-top: 10px;
       text-align: center;
       width: 55%;
       height: 10px;
    }

    .div-logo{
        position: relative;
        margin-top: 20px;
    }*/

    .div-grid{
        margin-top: 10px;
        margin-bottom: 10px;
        
    }

    ion-grid {
        height: 100%;
    }

    ion-row {
        height: 22%;
        text-align: center;
    }

    ion-col {
        text-align: center;
    }

    .ion-icon-home {
        font-size: 80px; //Preferred size here
        color: "white";
    }

    .transparent-background-home{
        background-color: transparent;
        box-shadow: none;
    }
    
    ion-label{
        color: white;
        text-align: center;
        font-weight: bold;
    }

    .toolbar-background {
        background-color: transparent;
    }

    .icon-header-home{
        color: white;
        float: right;
        right: 0;
        font-size: 30px;
    }

    .logo{
        height: 13%;
    }

    .temp-logo-container{
        margin-top: 2px;
    }

    .logo1{
       color : white;
       left: 0;
       right: 0;
       position: absolute;
       margin-left: auto;
       margin-right: auto;
       margin-top: 20px;
       font-size: 70px;
       text-align: center;
       text-shadow: 4px 3px #263238;
    }

    .logo2{
        color : white;
        left: 0;
        right: 0;
        position: absolute;
        margin-left: 0 auto;
        margin-right: 0 auto;
        margin-top: 60px;
        font-size: 30px;
        text-align: center;
        text-shadow: 2px 2px #263238;
     }

}
