page-notification {

    /*.fixed-content{
        background-color: #253237;
    }*/

    .transparent-background-home{
        background-color: transparent;
        box-shadow: none;
    }

    .icon-header-home{
        color: white;
        float: right;
        right: 0;
        font-size: 30px;
    }

    .card-not{
        margin-top: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }

}
