// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*.fixed-content{
    background-color: #3F3F57
}*/

.transparent-background{
    background-color: transparent;
    box-shadow: none;
    
}

.menu-background-image {
    background-image: url("../assets/images/menu-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 200px;
}

.menu-header-name{
    color: white;
    //text-shadow: 2px 2px #000000;
    
}

ion-menu .header {
    background-image: url("../assets/images/menu-header.jpg");
    background-size: cover;
    height: 33%;
}

.pane, .menu, .view, .list, .item       {
    background: transparent;
}

.toolbar-background-md{
    background-color: transparent;
}

.item-md.item-block .item-inner{
    border-bottom: none;
}

.menuheadername{
    color: white;
    margin-top: 100px;
    font-weight: bold;
    
}

ion-menu .header ion-avatar img{ 
    width: 75px;
    height: 75px;
    margin-top: 20px;
}

ion-menu div ion-header ion-item div.item-inner div{
    background-color: transparent;
    box-shadow: none;
}

.list-md {
    margin: -28px 0 16px;
    
}

.item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
     margin: 0px 0px 0px 0; 
}
