page-assemblies {

    .fixed-content{
        background-color: white;
    }

    .transparent-background-assemblies{
        background-color: transparent;
        box-shadow: none;
    }

    .icon-header-assemblies{
        color: white;
        float: right;
        right: 0;
    }

    .toolbar-background-ios {
        background-color: transparent;
    }

    .ion-grid-assemblie {
        height: 35%;
        width: 100%;
        background-color: grey;
        box-shadow: none;
    }

    .ion-row-assemblie {
        height: 35%;
        text-align: center;
    }

    .ion-col-assemblie {
        text-align: center;
    }

    .ion-grid-assemblies {
        height: 58%;
        width: 100%;
    }

    .ion-row-assemblies {
        height: 16%;
        text-align: center;
    }

    .calendar-font{
        color: white;
    }

    .calendar-background{
        background-color: grey;
        box-shadow: none;
        
    }

    .item-ios.item-block .item-inner {
        padding-right: 8px;
        border-bottom: none;
    }

    .listTitle
    {
        color : white !important;
    }

    .icon-header-assemblies{
        color: white;
        float: right;
        right: 0;
        font-size: 30px;
    }

    .focus-month {
        background-color: white;
        height: 100%;
        width: 100%;
        opacity: 0.5;
    }

    .ion-col-assemblie.active{
        background-color: rgba(255, 255, 255, 0.3);
    }

    .label-md {
        margin: 10px 8px 12px 0;
    }

}
